.header {
    height: 34vw;
    margin: 30px auto;
    position: relative;
}

.header-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure the image is behind the content */
}

.header-contents {
    position: absolute;
    bottom: 20px; /* Adjust position */
    left: 20px;
    color: white; /* Ensure text visibility */
    animation:  fadeIn 3s;
}

.header-title {
    font-size: 5vw; /* Larger font size for prominence */
    margin-bottom: 20px; /* Add some space between the title and other text */
    margin-right: 400px;
}

.header-subtext {
    font-size: 1.3vw; /* Smaller font size for subtext */
    margin-bottom: 20px;
}
button {
    font-size: 1vw;
    padding: 10px 15px;
    background-color: #fdfdfd; /* Example color, change as per your theme */
    color: black;
    border: none;
    margin-left: 5px;
    border-radius: 20px; /* Add curvature to the corners */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    transition: background-color 0.5s; /* Smooth transition effect */
}
