.header {
    height: 34vw;
    margin: 30px auto;
    position: relative;
}

.header-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}

.header-contents {
    position: absolute;
    bottom: 20px; 
    left: 20px;
    color: white;
    animation:  fadeIn 3s;
}

.header-title {
    font-size: 5vw;
    margin-bottom: 20px;
    margin-right: 400px;
}

.header-subtext {
    font-size: 1.3vw;
    margin-bottom: 20px;
}
button {
    font-size: 1vw;
    padding: 10px 15px;
    background-color: #fdfdfd; 
    color: black;
    border: none;
    margin-left: 5px;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.5s;
}
@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px) {
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}